body{
    background-color:#FFBAAE;
}

.title{
    text-align:center;
}


.header_container{
    margin:10px;
    font-size:2em;

}

.left_header_container{
    float:left;
}

.right_header_container{
    float:right;
}

.btn{

}