.profile_container{
    padding:0px 20px;
}

.user_name{
    text-align:center;
}
.user_photo{
    display:block;
    margin:auto;
    border: 1px solid black;
    border-radius:50%;
    width:100px;
    height:100px;
}

.btn_search_users, .btn_connect{
    background-color:#FFEBCD ;
    display:block;
    margin:10px auto;
    font-size:2em;
    border:2px solid #F75D59;
    padding:10px;

}

.header_for_textarea{
    display:inline-block
}

textarea{
    margin-top:-5px;
    width:50%;
    overflow:scroll;
    resize:none;
}

p.info{
    margin-top:-20px;
}

.other_users_list_container{
    padding:0px 10px;
    border: 2px dashed black;
    overflow:scroll;
}
.other_user_container{
    display:inline-block;
    margin-left:10px;
}

.other_user_img{
    width:100px;
    height:100px;
    display:block;

}

.other_user_name{
    display:block;
}

.insert_tag_container{
    margin-top:10px;
}

.tag_txt{
    margin-left:5px;
    height:100%;
    display:inline-block;
    background-color:#FFEBCD;
    border:1px solid black;
}
.btn_tag_remove{
    height:50%;
    font-size:.6em;
    background-color:#FFEBCD;
    border:1px solid black;
    vertical-align:top;
}

.div_tag_container{
    display:inline-block;
    height:30px;
}

#btn_save_profile{
    margin-top:10px;
}

#video_element{
    width:100px;
    height:100px;
    border: 1px solid black;
}

#canvas{
    border:1px solid black;
}