<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="css/about.css">
		<script type="text/javascript" src="ejs_production.js"></script>
	</head>
	<body>
		<% include no_logged_in_header_navs %>

		<h1 class = "title">About</h1>
		<p>This page is some a page.</p>
	</body>
	
</html>
