<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="css/global.css">
		<link type="text/css" rel= "stylesheet" href="css/about.css">
		<script type="text/javascript" src="ejs_production.js"></script>
	</head>
	<body>
		<% include header_navs.html %>

		<h1 class = "title">About</h1>
		<p>This page is some a page.</p>
	</body>
</html>
