<!DOCTYPE HTML>
<html>
    <head>
        <% include bootstrap %>
        <link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
        <link type="text/css" rel= "stylesheet" href="/stylesheets/chat.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    
    <body>
        <% include logged_in_header_navs %>
        <div class="entire_container">
            <h1 class="title">Friends</h1>
            <div class="chat_area">
				<h2 class="contact_list_title">Contact list</h2>
                <div id="contact_list" class="contact_list_container">
                    <!-- Ajax will load friends list goes in here -->
                </div>
                <div id="msgs_container">
                    <p class="msg_header"></p>
                </div>
                <div class="send_msg_container">
                    <textarea id="textarea_msg"></textarea>
                    <button id="btn_send_msg">Send</button>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="/client-js/chat.js"></script>