<!DOCTYPE HTML>
<html>
    <head>
        <% include bootstrap %>
        <link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
        <link type="text/css" rel= "stylesheet" href="/stylesheets/chat.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    
    <body>
        <% include nav_logged %>
        <div class="container my-2">
            <div class="row" style="height:500px">
                <div class="contact_list_container col-md-4 h-100">
                    <h3 id="contact_list_title">Contact list</h3>
                    <div id="contact_list" class="h-75">
                        <!-- Ajax will load friends list goes in here -->
                    </div>
                </div>

                <div id="right_msgs_container" class="ml-3 col-md">
                    <p id="msgs_container_header"></p> <!-- User chatting with...Handle by javascript -->
                    
                    <div id="msgs_container">
                        <ul id="msgs_list" class="flex-container">
                            <!-- Ajax populates here as msgs come -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-2 justify-content-end" style="height:50px">
                <textarea id="textarea_msg" class="col-md-6"></textarea>
                <button id="btn_send_msg" type="button" class="btn btn-secondary col-md-1">Send</button>
            </div>
        </div>
    </body>
</html>
<script src="/client-js/global_constants.js"></script>
<script>
    var page = PAGE.chat;
    var self_id = "<%= user._id %>";
    var self_name = "<%= user.firstName %>" + " " + "<%= user.lastName %>";
</script>
<script src="/client-js/global_logged.js"></script>
<script src="/client-js/chat.js"></script>