<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="css/connect.css">
		<link type="text/css" rel= "stylesheet" href="css/profile.css">
		<script type="text/javascript" src="ejs_production.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<% include header_navs.html %>

		<h1 class="title">Connect</h1>
		<div>
			<h2>Contacts:</h2>
			<div class="other_users_list_container">
				<div id="users_matched_container" class="other_user_container">
					<!-- AJAX fills this spot with database-->
				</div>
			</div>
		</div>

		<div>
			<h2>Pending Invites:</h2>
			<div class="other_users_list_container">
				<div id="pending_users_container" class="other_user_container">
					<!-- AJAX fills this spot with database-->
				</div>
			</div>
		</div>
	</body>
</html>
<script src="./js/connect.js"></script>