<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/discover.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include logged_in_header_navs %>

		<form action="/user/discover-results/all" method="GET">
			<input class="submit_search" type="submit" value="All search">
		</form>

		<form action="/user/discover-results/local">
            <input class="submit_search" type="submit" value="Local Search">
        </form>
		<form action="/user/discover-results/tags">
            <input class="submit_search" type="submit" value="Tags Search">
        </form>
	</body>
</html>