<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/discover.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include header_navs.html %>

		<form action="/user/discover-all-users">
			<input class="submit_search" type="submit" value="All search">
		</form>

        <form action="/user/discover-local-users">
            <input class="submit_search" type="submit" value="Local Search">
        </form>
        <form action="/user/discover-tags-users">
            <input class="submit_search" type="submit" value="Tags Search">
        </form>
	</body>
</html>