<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/discover_results.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include nav_logged %>

		<div id="matched_users_container" class="other_users_list_container">
			<h2>Related Matches:</h2>
			<!-- Ajax will insert here -->
		</div>
	</body>
</html>
<script>var mode = "<%= mode %>";</script>
<script src="/client-js/discover_results.js"></script>