<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/discover_results.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	
	<body>
		<% include nav_logged %>

		<div class="container">
			<h1 class="title">Discover Results</h1>
			<div id="matched_users_container" class="other_users_list_container">
				<!-- Ajax will insert here -->
			</div>
		</div>
	</body>
</html>

<script src="/client-js/global_constants.js"></script>
<script>
	var page = PAGE.discover_results;
    var self_id = "<%= user._id %>";
	var self_name = "<%= user.firstName %>" + " " + "<%= user.lastName %>";
</script>
<script>var mode = "<%= mode %>";</script>
<script src="/client-js/global_logged.js"></script>
<script src="/client-js/discover_results.js"></script>