<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/discover.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	
	<body>
		<% include nav_logged %>
		<div class="container">
				<h1 class = "title">Discover</h1>
			<form action="/discover/all">
				<input class="submit_search" type="submit" value="All search">
			</form>

			<form action="/discover/local">
				<input class="submit_search" type="submit" value="Local Search">
			</form>
			<form action="/discover/tags">
				<input class="submit_search" type="submit" value="Tags Search">
			</form>
		</div>
	</body>
</html>
<script>
    var self_id = "<%= user._id %>";
    var self_name = "<%= user.firstName %>" + " " + "<%= user.lastName %>";
</script>
<script src="/client-js/global_logged.js"></script>