<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/index.css">
		<script src="/client-js/all_inputs_required.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<div id="nav_bar">
			<a href="#"><img class="logo" src="images/logo.jpg"></a>
			<div class="right_header">
				<a class="header_anchor" href="/about">About</a>
				<a class="header_anchor" href="/">Login</a>
				<a class="header_anchor" href="/user/register">Register</a>
			</div>
		</div>

		<div class="container">
			<h1 class="title">Minder Matching</h1>
			<form id="login_form" method="post">
				<div class="input_container">
					Email:
					<input id="user_email" type="text" class="required_input" name="email">
				</div>
				<div class="input_container">
					Password:
					<input id="user_password" type="password" class="input_password required_input" name="password">
				</div>
					<input class="form_submit" type="submit" value="Login">
			</form>
		</div>
		<p>Image courtesy of pexels.com by: pixabay.com</p>
		<form id="form_generate_random_users">
			(Developer): How many random users do you want to generate?
			<input id="input_amt_of_random_users" type="number">
			<input id="submit_generate_random_users" type="submit" value="Generate Random Users">
		</form>
	</body>
</html>

<script src="/client-js/index.js"></script>