<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/discover">Discover Users</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/friends">Friends</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/notifications">Notifications</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>