<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/notification.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include logged_in_header_navs %>

		<h1 class="title">Notification</h1>
		<div id="notifications_container" class="notifications_container">
			<!-- AJAX fills this spot with database-->
		</div>
	</body>
</html>

<script src="/client-js/notification.js"></script>