<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/notifications.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<% include nav_logged %>

		<h1 class="title">Notification</h1>
		<div class="container">
			<div id="notifications_container" class="notifications_container">
				<!-- AJAX fills this spot with database-->
			</div>
		</div>
	</body>
</html>

<script src="/client-js/notifications.js"></script>