<!DOCTYPE HTML>
<html>
	<head>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="css/profile.css">
		<script type="text/javascript" src="ejs_production.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<% include header_navs.html %>

		<div class = "profile_container">
			<h1 class ="title">
				Profile
			</h1>
			<div class = "user_photo_container">
				<h1 class = "user_name">[OtherUserName]</h1>
				<img class= "user_photo" src="./img/logo.jpg"/>
			</div>
			<form action = "connect.html">
				<input class = "btn_connect" type = "submit" value = "Connect/Invite">
			</form>


			<div class = "editable_container">
				<h3 class = "header_for_textarea">Description</h3>
				<p class ="info">[Description to be filled]</p>
			</div>
			<div class = "editable_container">
				<h3 class = "header_for_textarea">Tags</h3>
				<p class ="info">[Tags, separated by space]</p>
			</div>
			<div class = "editable_container">
				<h3 class = "header_for_textarea">Education</h3>
				<p class ="info">[Education to be filled]</p>
			</div>
			<div class = "editable_container">
				<h3 class = "header_for_textarea">Location (City)</h3>
				<p class ="info">[Location to be filled]</p>
			</div>
		</div>

		<div id="matched_users_container" class="other_users_list_container">
			<h2>Related Matches:</h2>
			<!-- AJAX fills this spot with database-->
		</div>
	</body>
</html>
<script src="client-js/other_profile.js"></script>