<!DOCTYPE HTML>
<html>
	<head>
		<% include bootstrap %>
		<link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
		<link type="text/css" rel= "stylesheet" href="/stylesheets/register.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<% include no_logged_in_header_navs %>
		<div class="container">
			<h1 class = "title">Sign up</h1>

			<form id="signup_form" method="POST" action="/user/add">
				<div class = "btm_form_container">
					<div>
						Email:
						<input id="input_email" class="required_input" type="text" name="email" required>
					</div>
					<div>
						Password:
						<input id="input_password1" class="required_input" type="password" name="password1" required>
					</div>
					<div>
						Re-enter Password:
						<input id="input_password2" class="required_input" type="password" required>
					</div>
				</div>

				
				<div class = "top_form_container">
					<div>
						First Name:
						<input id="input_first_name" class="required_input" type="text" name="firstName" required>
					</div>
					<div>
						Last Name:
						<input id="input_last_name" class="required_input" type="text" name=lastName required>
					</div>
					<div>
						City:
						<input id="input_city" class="required_input" type="text" name=city required>
					</div>
				</div>
				<input type="submit" class="form_submit" value="Sign Up">
			</form>
		</div>
	</body>
</html>
<script src="/client-js/register.js"></script>