<!DOCTYPE HTML>
<html>
    <head>
        <% include bootstrap %>
        <link type="text/css" rel= "stylesheet" href="/stylesheets/global.css">
        <link type="text/css" rel= "stylesheet" href="/stylesheets/settings.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <body>
        <% include nav_logged %>
        <h1 class="title">Settings</h1>
        <div class="container">
            <form id="form_settings">
                <div id="notifications_container" class="settings_row first_settings_row">
                    <h5>Account</h1>
                    <div>
                        <div class="form-group row">
                            <label for="input_current_password" class="col-sm-3 col-form-label text_right_align">Current Password</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="input_current_password" type="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_new_password1" class="col-sm-3 col-form-label text_right_align">New Password</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="input_new_password1" type="password" name="input_new_password1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_new_password2" class="col-sm-3 col-form-label text_right_align">Confirm New Password</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="input_new_password2" type="password">
                            </div>
                        </div>
                        <div id="alert_change_password" class="alert alert-danger mt-2 invisible" role="alert">
                            <!-- Text = 'wrong password', 'non-matching pass'
                                , or 'all password inputs required'. Handled by ajax -->
                        </div>
                    </div>
                </div>
                <div id="notifications_container" class="settings_row">
                    <h5>Notifications</h1>
                    <div>
                        <div>
                            <label class="form-check-label" for="checkbox_accepted_friend_requests">
                                <input id="checkbox_accepted_friend_requests" class="form-check-input"
                                    type="checkbox" name="accepted_friend_requests"
                                    <%if (settings.notification.friendAccepted) { %>
                                        checked="checked"
                                    <% } %>>Accepted friend requests
                            </label>
                        </div>
                        <div>
                            <label class="form-check-label" for="checkbox_chat_initiated">
                                <input id="checkbox_chat_initiated" class="form-check-input" type="checkbox" name="chat_initiated"
                                <%if (settings.notification.chatInitiated) { %>
                                    checked="checked"
                                <% } %>>First chat conversation initiated
                            </label>
                        </div>
                    </div>
                </div>
                <input class="mt-2" type="submit" value="Save">
            </form>
            </div>
        </div>
    </body>
</html>
<script src="/client-js/settings.js"></script>