.contact_list_container{
    padding: 10px;
    border: 1px solid black;
}

#contact_list_title{
    text-align: center;
    font-weight: bold;
}

#contact_list{
    overflow: scroll;
    overflow-x: hidden;
}

#msgs_container_header{
    font-weight: bold;
}

#right_msgs_container{
    height: 500px;
    border: 1px solid black;
}

#msgs_container{
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px 15px;
    border: 1px solid #a1a1a1;
}

#msgs_list{
    min-height: 380px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

#textarea_msg{
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
}

.msg_container{
    display:inline-block;
    white-space: pre-wrap;
}

.msg_sent{
    align-self: flex-end;
}

.msg_receive{
    align-self: flex-start;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }