.contact_list_container{
    padding: 10px;
    border: 1px solid black;
}

#contact_list_title{
    text-align: center;
    font-weight: bold;
}

#contact_list{
    overflow: scroll;
    overflow-x: hidden;
}

#msgs_container_header{
    font-weight: bold;
}

#right_msgs_container{
    border: 1px solid black;
}

#msgs_container{
    padding: 5px 15px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #a1a1a1;
}

#msgs_list{
    margin:0px;
    height:100%;
    list-style-type: none;
}

#textarea_msg{
    resize: none;
}

.msg_container{
    display:inline-block;
    white-space: pre-wrap;
}

.msg_sent{
    text-align: end;
}

.msg_receive{
    text-align: start;
}