
#matched_users_container{
    margin-top: 5px;
    padding: 0px 5px;
    border: 1px solid black;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}
.other_user_container{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

.other_user_img{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: block;
}

.other_user_name{
    display: block;
    text-align: center;
}