
.other_users_list_container{
    padding:0px 10px;
    border: 2px dashed black;
    overflow:scroll;
}
.other_user_container{
    display:inline-block;
    margin-left:10px;
    padding:10px;
}

.other_user_img{
    width:100px;
    height:100px;
    display:block;
}

.other_user_name{
    display:block;
    text-align:center;
}