body{
    background-color:#FFBAAE;
}

.title{
    text-align:center;
}

.header_container{
    margin:10px;
    font-size:1.5em;
}

.left_header_container{
    display:inline-block;
}

.right_header_container{
    float:right;
}

.btn{

}