
/* This is a shared css between profile and other_profile */
.user_name{
    text-align: center;
}
.user_photo{
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
}

.tag{
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 40%;
    background-color: white;
    border: 1px solid black;
}

.tag-delete{
    margin: 5px;
    color: red;
}

textarea{
    margin-top: -5px;
    width: 600px;
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
    height: 100px;
}

.btn_under_photo{
    display: block;
    width: 200px;
    font-size: 1.3em;
    margin: 10px auto;
}

.display_none{
    display: none;
}

.card-header{
    text-align:center;
}

.info{
    margin: 10px 0px;
}


/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    margin: 30px auto;
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}